.container-about-us {
  background-color: $colorLight;
  //text-transform: uppercase;

  .container-content-about-us {

    .flex-container {
      justify-content: space-between;

      .flex-item:first-child {
        width: 30%;

        img {
          border-radius: 100%;
          box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
        }
      }

      .flex-item:last-child {
        width: 60%;
      }

      .author {
        text-align: end;
        font-family: Montserrat-SemiBold, sans-serif;

        .name {
          color: $colorPrimary;
        }

        .role {
          color: $colorSecondary;
        }
      }
    }

    @media (max-width: 1099px) {
      .flex-container {
        .flex-item:first-child {
          width: 40%;
        }

        .flex-item:last-child {
          width: 50%;
        }
      }
    }

    @media (max-width: 899px) {
      .flex-container {
        flex-direction: column;

        .flex-item:first-child {
          width: 60%;
          margin-bottom: 6.4rem;
        }

        .flex-item:last-child {
          width: 100%;
        }
      }
    }

    @media (max-width: 649px) {
      section .flex-container {

        .flex-item:first-child {
          width: 80%;
        }
      }
    }

    @media (max-width: 499px) {
      section .flex-container {

        .flex-item:first-child {
          width: 100%;
        }
      }
    }
  }

}

