.container-contact {
  background-color: $colorDark2;

  .container-content-contact {
    color: $colorLight;

    h2 {
      background-color: $colorDark2;
      color: $colorLight;
    }

    hr {
      border-top: 1px solid $colorLight;
    }

    section .flex-container {
      justify-content: space-between;
      align-items: baseline;

      .flex-item:first-child {
        //width: 25%;
      }

      .flex-item:last-child {
        width: 65%;
      }

      .flex-item:first-child {
        .flex-container {
          justify-content: left;

          .flex-item {
            width: auto;
            margin-bottom: 2.4rem;
          }

          .fa {
            color: $colorPrimary;
            margin-right: 2.4rem;
          }
        }
      }
    }

    form {
      * {
        outline: none;
      }

      .row {
        margin-bottom: 3.2rem;
      }

      label {
        padding-top: 10.6rem;
      }

      input {
        width: 100%;
        padding: 0.8rem 1.6rem;
        border: none;
        background-color: $colorLight;
      }

      textarea {
        min-width: 100%;
        max-width: 100%;
        min-height: 25.6rem;
        padding: 0.8rem 1.6rem;
        border: none;
        //margin-bottom: -0.8rem;
        background-color: $colorLight;
      }

      button {
        font-family: Montserrat-SemiBold, sans-serif;
        float: right;
        cursor: pointer;
        padding: 0.8rem 1.6rem;
        border: none;
        background-color: $colorPrimary;
        color: $colorLight;
      }
    }

    @media (max-width: 1099px) {
      .flex-container-section {
        flex-direction: column;

        .flex-item-address {
          margin: 0 auto 4rem;
        }

        .flex-item:last-child {
          min-width: 100%;
        }
      }
    }
  }

}
