.container-header {
  background-color: $colorDark;
  color: $colorLight;

  .container-content-header {

    .flex-container {
      justify-content: space-between;
      align-items: flex-end;

      .flex-item.logo {
        width: 12%;
      }

      .flex-item.lang {
        width: auto;
      }

      .flex-item.menu {
        width: auto;
      }
    }

    nav ul li{
      float: left;
      color: $colorLight;

      a {
        display: block;
        padding: 0 1.6rem;
        text-decoration: none;
        color: inherit;
      }
    }

    nav ul li.active {
      color: $colorPrimary;
    }

    @media (max-width: 1099px) {
      .flex-container {
        .flex-item.logo {
          width: 15%;
        }
      }
    }

    @media (max-width: 899px) {
      .flex-container {
        .flex-item.logo {
          width: 17%;
        }
      }
    }

    @media (max-width: 649px) {
      .flex-container {
        .flex-item.logo {
          width: 20%;
        }
      }
    }

    @media (max-width: 499px) {
      .flex-container {
        .flex-item.logo {
          width: 25%;
        }
      }
    }
  }

}