.container-reference {
  background-color: $colorLight;

  .container-content-reference {

    h2 {
      //color: $colorDark2;
    }

    section .flex-container {
      justify-content: space-between;
      align-items: flex-start;

      .flex-item {
        width: 45%;
        background-color: $colorLight;
        border-radius: 2%;
        box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
        padding: 3.2rem;

        img {
          max-width: 80%;
          margin: 0 auto 3.2rem;
          border-radius: 100%;
          box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
        }

        .text {
          padding: 3.2rem 0;
        }

        .author {
          text-align: end;
          font-family: Montserrat-SemiBold, sans-serif;

          .name {
            color: $colorPrimary;
          }

          .role {
            color: $colorSecondary;
          }
        }

        .fa-quote-right {
          float: left;
          color: $colorPrimary;
          margin: 0 1.2rem 0 0;
        }
      }
    }

    @media (max-width: 899px) {
      section .flex-container {
        flex-direction: column;

        .flex-item {
          min-width: 100%;
          margin-bottom: 6.4rem;

          img {
            width: 60%;
          }
        }
        .flex-item:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 649px) {
      section .flex-container {
        .flex-item {
          img {
            width: 80%;
          }
        }
      }
    }

    @media (max-width: 499px) {
      section .flex-container {
        .flex-item {
          img {
            min-width: 100%;
          }
        }
      }
    }
  }
}
