.container-reference {
  background-color: $colorLight;

  .container-content-reference {
    //background-color: darksalmon;

    h2 {
      //color: $colorDark2;
    }

    section .flex-container {
      justify-content: space-between;
      align-items: flex-start;

      .flex-item {
        width: 45%;
        background-color: $colorLight;
        border-radius: 2%;
        box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
        padding: 3.2rem;

        img {
          max-width: 80%;
          margin: 0 auto 3.2rem;
          border-radius: 100%;
          box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
        }

        .text {
          padding: 3.2rem 0;
        }

        .author {
          text-align: end;

          .name {
            color: $colorPrimary;
          }

          .role {
            color: $colorSecondary;
          }
        }

        .fa-quote-right {
          float: left;
          color: $colorPrimary;
          margin: 0 1.2rem 0 0;
        }
      }
    }

  }
}
