.container-service {
  background-color: $colorLight;

  .container-content-service {

    h3 {
      color: $colorPrimary;
    }

    h4 {
      color: $colorSecondary;
    }

    section .flex-container {
      justify-content: space-between;

      .flex-item:first-child {
        min-width: 60%;
      }

      .flex-item:last-child {
        min-width: 30%;
        text-align: right;
      }

    }
  }

}

