.container-why-us {
  background-color: #F0616E;

  .container-content-why-us {
    font-family: Montserrat-SemiBold, sans-serif;

    h2 {
      background-color: #F0616E;
      color: $colorLight;
    }

    hr {
      border-top: 1px solid $colorLight;
    }

    section .flex-container {
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;

      .flex-item {
        max-width: 20%;
        text-align: center;
        color: $colorLight;

        img {
          width: 6.4rem;
          margin: 0 auto 3.2rem;
        }

        p {
          padding: 0 2.4rem;
        }
      }
    }

    @media (max-width: 1099px) {
      section .flex-container {
        row-gap: 6.4rem;

        .flex-item {
          min-width: 33.333333%;
        }
      }
    }

    @media (max-width: 659px) {
      section .flex-container {
        flex-direction: column;

        .flex-item {
          min-width: 100%;
        }
      }
    }
  }

}

