@font-face {
  font-family: "RetroGamingFont";
  src: url("../font/Retro Gaming.ttf") format("truetype");
}

.container-header, .container-footer {
  font-family: RetroGamingFont;
  font-size: 3rem;
}