<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>

    <meta charset="UTF-8">
    <meta name="author" content="Martin Pohl">
    <meta name="description" content="Description">
    <meta name="keywords" content="Keywords">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./static/favicon/favicon.png" type="image/x-icon">

</head>
<body>

    <div class="container-primary">
        <div data-inject-html="./common/header" class="container container-header"></div>

        <div class="container container-main">
            <div class="container-content container-content-main">
                <main>
                    <article>
                        <header>
                            <h1>h1</h1>
                            <p>author</p>
                        </header>
                        article
                        <section>
                            <header>
                                <h2>h2</h2>
                            </header>
                            section
                        </section>
                    </article>

                    <section>
                        <header>
                            <h1>h1</h1>
                        </header>
                        section
                    </section>
                </main>

                <section>
                    <header>
                        <h1>h1</h1>
                    </header>
                    section
                </section>
            </div>
        </div>

        <div data-inject-html="./common/footer" class="container container-footer"></div>
    </div>

</body>
</html>