body {
  width: 100vw;

  .container-primary {
    min-height: 100vh;
    width: 100%;
  }

  .container {
    display: grid;
    grid-template-columns: auto minmax(auto, 60rem) auto;
    grid-template-rows: auto;
  }

  .container-content {
    width: 100%;
    max-width: 60rem;
    background-color: lightcoral;
    grid-column: 2/3;
    grid-row: 1/2;
  }

}



